#headerComponent nav{
  background-color: rgba(10,59,123,1);
}

#logoAlmundo{
  margin-top: 10px;
  margin-left: 10px;
}

h1{
  color: red;
}



@media only screen and (max-width: 992px){
  nav .brand-logo {
    margin-top: 0;
    margin-left: 0;

  }
}

@media only screen and (min-width: 993px){
  .brand-logo:hover{
    transform: scale(1.03);
  }
}
